.cards-catalog {
  display: grid;
  grid-gap: 1rem;
}

@media (min-width: 470px) {
  .cards-catalog {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (min-width: 600px) {
  .cards-catalog {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 920px) {
  .cards-catalog {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1270px) {
  .cards-catalog {
    grid-template-columns: repeat(4, 1fr);
  }
}
